*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #001531;
  font-weight: 400;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 430px;
  padding: 15px 75px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 55px 90px;
    padding-bottom: 0;
  }
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  color: #df3d0f;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 34px;
}

.nav-list-item {
  font-size: 14px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #df3d0f;
}

.protection {
  padding: 15px 8px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  margin-left: 49px;
}

.protection:hover,
.protection:focus {
  color: black;
}

.menu-open {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;

  svg {
    width: 50px;
    stroke: #fff;
  }
}

.header-navigation {
  display: none;
}

@media screen and (min-width: 1440px) {
  .menu-open {
    display: none;
  }

  .header-navigation {
    display: block;
  }
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.653);
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 320px;
  height: 560px;
  border-radius: 4px;
  position: absolute;
  background-color: #101d4f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-nav-list-item {
  font-weight: 600;
  font-size: 24px;
}

.menu-nav-list-item:hover,
.menu-nav-list-item:focus {
  color: #df3d0f;
}

.menu-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;

  svg {
    width: 18px;
    height: 18px;
    stroke: #fff;
  }
}

/* hero */

.hero {
  margin-top: 90px;
  display: flex;
  gap: 90px;
  align-items: center;
}

.hero-left {
  width: 628px;
}

.img-container {
  width: 550px;
  height: 470px;
  background-image: url(/img/layer.png);
}

.hero-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 130px;
}

.btn-container {
  display: flex;
  gap: 27px;
}

.hero-button {
  width: 292px;
  height: 73px;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border: 2px solid rgb(185, 54, 128);
}

.hero-button:hover,
.hero-button:focus {
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
}

.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin: 90px auto;
}

.hero-list-item {
  border-radius: 15px;
  width: 334px;
  height: 228px;
  background-color: rgba(59, 52, 160, 0.27);
  padding: 24px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-list-text {
  font-size: 24px;
  text-align: center;
  margin-top: 114px;
}

.hero-list-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

/* about us */

.about-us-list {
  display: flex;
  gap: 49px;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 52, 160, 0.27);
  padding-top: 58px;
  padding-bottom: 58px;
}

.about-us-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-us-icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 50px;
    height: 50px;
  }
}

.blue {
  background-color: #4171c4;
}

.green {
  background-color: #6ccc3e;
}

.red {
  background-color: #e5333d;
}

.violet {
  background-color: #8555c1;
}

.about-us-title {
  font-size: 38px;
  color: #e1400f;
  margin-bottom: 10px;
}

.about-us-description {
  font-size: 14px;
}

.about-us-main {
  margin-top: 216px;
  display: flex;
  gap: 109px;
}

.about-us-img {
  border-radius: 35px;
  width: 515px;
  height: 457px;
  background-color: #f77307;
  box-shadow: 4px -40px 60px rgba(42, 107, 148, 0.5);
}

.about-text-wrapper {
  width: 628px;
}

.about-main-title {
  max-width: 508px;
  font-size: 38px;
}

.about-main-text {
  font-family: "Poppins";
  font-size: 24px;
  margin-top: 10px;
}

.about-main-description {
  font-family: "Poppins";
  font-size: 18px;
  margin-top: 12px;
}

.about-btn {
  margin-top: 23px;
  padding: 12px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.about-btn:hover,
.about-btn:focus {
  color: black;
}

/* services */

.services-title {
  font-size: 38px;
  text-align: center;
  max-width: 896px;
  margin: 0 auto;
  margin-top: 215px;
}

.services-list-item {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background-color: #101d4f;
  padding: 24px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.services-list-img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.services-btn {
  width: 149px;
  height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #e1400f;
  margin-top: 40px;

  svg {
    width: 16px;
    height: 14px;
    margin-left: 12px;
    stroke-width: 1px;
    stroke: #e1400f;
    fill: #e1400f;
  }
}

.services-btn:hover,
.services-btn:focus {
  color: #fff;

  svg {
    stroke: #fff;
    fill: #fff;
  }
}

.services-text {
  font-size: 24px;
  text-align: center;
  max-width: 960px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin: 140px auto;
}

.services-list-title {
  font-size: 28px;
  text-align: center;
}

.services-list-text {
  font-size: 18px;
  text-align: center;
  max-width: 320px;
}

/* resource */

.resource-container {
  display: flex;
  background-color: rgba(59, 52, 160, 0.27);
  padding: 80px 20px;
  margin: 215px auto;
  align-items: center;
  margin-bottom: 152px;
}

.resource-title {
  font-size: 34px;
  max-width: 631px;
}

.resource-text {
  font-size: 18px;
  margin-top: 12px;
  width: 419px;
}

.resource-list {
  display: flex;
  gap: 80px;
}

.resource-list-img {
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #f77307;
}

.resource-item-title {
  font-size: 34px;
  text-align: center;
}

/* contact */

#contact {
  display: flex;
  gap: 240px;
  align-items: center;
  justify-content: center;
}

.contact-main {
  width: 477px;
}
.contact-title {
  font-size: 34px;
}

.contact-text {
  font-size: 24px;
  margin-top: 12px;
}

.contact-form {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.contact-input {
  background-color: #101d4f;
  padding: 16px 29px;
  border: none;
  resize: none;
  color: #fff;
}
.contact-input::placeholder {
  color: #fff;
}

.contact-btn {
  padding: 16px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.contact-btn:hover {
  color: black;
}

.contact-img {
  border-radius: 100%;
  width: 416px;
  height: 416px;
  background-color: #f77307;
  box-shadow: 4px -40px 60px rgba(42, 107, 148, 0.5);
}

/* footer */

.footer {
  background-color: rgba(59, 52, 160, 0.27);
  margin-top: 215px;
  padding: 86px;
}

.footer-logo {
  font-size: 38px;
  color: #df3d0f;
}

.footer-wrap {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 69px;
}

.footer-title {
  font-size: 28px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 42px;

  li {
    min-width: 140px;
    max-width: 280px;

    svg {
      width: 18px;
      height: 18px;
      stroke: #fff;
      fill: #fff;
    }
  }
}

.footer-item {
  font-weight: 600;
  font-size: 18px;
}

.footer-item:hover,
.footer-item:focus {
  color: #e5333d;
}

.footer-item:hover + svg,
.footer-item:focus + svg {
  stroke: #e5333d;
  fill: #e5333d;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  margin-top: 208px;
}
