*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #001531;
  font-weight: 400;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 430px;
  padding: 77px 15px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 55px 90px;
    padding-bottom: 0;
  }
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.logo {
  font-size: 26px;
  color: #df3d0f;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 34px;
}

.nav-list-item {
  font-size: 14px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #df3d0f;
}

.protection {
  padding: 8px;
  font-size: 12px;
  width: 143px;
  text-align: center;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
}

.protection:hover,
.protection:focus {
  color: black;
}

.menu-open {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;

  svg {
    width: 53px;
    height: 35px;
    stroke: #fff;
  }
}

.header-navigation {
  display: none;
}

.modal-wrap {
  display: flex;
  align-items: center;
  gap: 200px;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.653);
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 320px;
  height: 560px;
  border-radius: 4px;
  position: absolute;
  background-color: #101d4f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-nav-list-item {
  font-weight: 600;
  font-size: 24px;
}

.menu-nav-list-item:hover,
.menu-nav-list-item:focus {
  color: #df3d0f;
}

.menu-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;

  svg {
    width: 18px;
    height: 18px;
    stroke: #fff;
  }
}

/* hero */

.hero {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: center;
}

.hero-left {
  max-width: 100%;
}

.img-container {
  width: 100%;
  height: 346px;
  background-image: url(/img/layer1.png);
}

.hero-title {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 63px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
}

.hero-button {
  width: 292px;
  height: 73px;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border: 2px solid rgb(185, 54, 128);
}

.hero-button:hover,
.hero-button:focus {
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
}

.hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 104px;
  margin-top: 120px;
}

.hero-list-item {
  border-radius: 15px;
  width: 334px;
  height: 228px;
  background-color: rgba(59, 52, 160, 0.27);
  padding: 24px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-list-text {
  font-size: 24px;
  text-align: center;
}

.hero-list-img {
  width: 134px;
  height: 134px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  box-shadow: 4px -20px 60px rgba(42, 107, 148, 0.5);
}

/* about us */

.about-us-list {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 52, 160, 0.27);
  padding-top: 99px;
  padding-bottom: 99px;
}

.about-us-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-us-icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 50px;
    height: 50px;
  }
}

.blue {
  background-color: #4171c4;
}

.green {
  background-color: #6ccc3e;
}

.red {
  background-color: #e5333d;
}

.violet {
  background-color: #8555c1;
}

.about-us-title {
  font-size: 38px;
  color: #e1400f;
  margin-bottom: 10px;
}

.about-us-description {
  font-size: 14px;
}

.about-us-main {
  margin-top: 131px;
  display: flex;
  flex-direction: column-reverse;
  gap: 49px;
}

.about-us-img {
  border-radius: 35px;
  width: 399px;
  height: 355px;
  background-color: #f77307;
  box-shadow: 4px -40px 60px rgba(42, 107, 148, 0.5);
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-main-title {
  max-width: 400px;
  font-size: 28px;
  text-align: center;
}

.about-main-text {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  max-width: 400px;
}

.about-main-description {
  max-width: 400px;
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
}

.about-btn {
  margin-top: 53px;
  padding: 12px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.about-btn:hover,
.about-btn:focus {
  color: black;
}

/* services */

.services-title {
  font-size: 28px;
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 259px;
}

.services-btn {
  width: 149px;
  height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #e1400f;
  margin-top: 40px;
  transform: rotate(-5deg);

  svg {
    width: 16px;
    height: 14px;
    margin-left: 12px;
    stroke-width: 1px;
    stroke: #e1400f;
    fill: #e1400f;
  }
}

.services-btn:hover,
.services-btn:focus {
  color: #fff;

  svg {
    stroke: #fff;
    fill: #fff;
  }
}

.services-text {
  font-size: 18px;
  text-align: center;
  max-width: 960px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 137px;
  margin-top: 103px;
}

.services-list-item {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background-color: #101d4f;
  padding: 24px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  z-index: 2;
  transform: rotate(10deg);
}

.background {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background: rgba(44, 43, 43, 0.44);
  transform: rotate(-5deg);
  position: relative;
  top: 0;
}

.services-list-img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  box-shadow: 4px -20px 60px rgba(42, 107, 148, 0.5);

  top: 0;
  transform: translateY(-50%);
}

.services-list-title {
  font-size: 28px;
  text-align: center;
  transform: rotate(-5deg);
}

.services-list-text {
  font-size: 18px;
  text-align: center;
  max-width: 320px;
  transform: rotate(-5deg);
}

/* resource */

.resource-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 52, 160, 0.27);
  padding: 110px 20px;
  margin: 215px auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 152px;
}
.resource-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resource-title {
  font-size: 28px;
  max-width: 360px;
  text-align: center;
}

.resource-text {
  font-size: 18px;
  margin-top: 12px;
  max-width: 360px;
  text-align: center;
}

.resource-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 59px;
  justify-content: center;
  align-items: center;
}

.resource-list-img {
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #f77307;
  box-shadow: 4px -20px 60px rgba(42, 107, 148, 0.5);
}

.resource-item-title {
  font-size: 34px;
  text-align: center;
  margin-top: 15px;
  max-width: 180px;
}

/* contact */

#contact {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  font-size: 28px;
  text-align: center;
  width: 397px;
}

.contact-text {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  width: 396px;
}

.contact-form {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.contact-input {
  background-color: #101d4f;
  padding: 16px 29px;
  border: none;
  resize: none;
  color: #fff;
  width: 397px;
}
.contact-input::placeholder {
  color: #fff;
}

.contact-btn {
  padding: 16px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  width: 397px;
}

.contact-btn:hover {
  color: black;
}

.contact-img {
  border-radius: 100%;
  width: 416px;
  height: 416px;
  background-color: #f77307;
  box-shadow: 4px -40px 60px rgba(42, 107, 148, 0.5);
}

/* footer */

.footer {
  background-color: rgba(59, 52, 160, 0.27);
  margin-top: 215px;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
  padding-top: 120px;
}

.footer-logo {
  font-size: 38px;
  color: #df3d0f;
  width: 281px;
  margin: 0 auto;
  text-align: center;
}

.footer-wrap {
  display: flex;
  gap: 80px;
  flex-direction: column;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 69px;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 28px;
  max-width: 340px;
  text-align: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center;

  li {
    /* min-width: 140px; */
    max-width: 330px;
    display: flex;
    gap: 30px;

    p {
      text-align: center;
    }

    svg {
      width: 30px;
      height: 30px;
      stroke: #fff;
      fill: #fff;
    }
  }

  li:hover svg {
    fill: #df3d0f;
    stroke: #df3d0f;
  }
}

.footer-item {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.footer-item:hover,
.footer-item:focus {
  color: #e5333d;
}

.footer-item:hover + svg,
.footer-item:focus + svg {
  stroke: #e5333d;
  fill: #e5333d;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 208px;
  width: 400px;
}

@media screen and (min-width: 1440px) {
  .menu-open {
    display: none;
  }

  .header-navigation {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .protection {
    padding: 15px 8px;
    margin-left: 49px;
    font-size: 14px;
    width: 177px;
  }

  .hero {
    margin-top: 90px;
    gap: 90px;
    flex-direction: row;
  }
  .hero-left {
    width: 628px;
  }
  .hero-title {
    font-size: 48px;
    text-align: start;
  }

  .hero-text {
    font-size: 24px;
    margin-bottom: 130px;
    text-align: start;
  }
  .btn-container {
    flex-direction: row;
    gap: 27px;
  }
  .img-container {
    width: 550px;
    height: 470px;
    background-image: url(/img/layer.png);
  }
  .hero-list {
    flex-direction: row;
    gap: 44px;
    margin: 90px auto;
  }
  .hero-list-img {
    width: 150px;
    height: 150px;
  }

  .about-us-list {
    margin-top: 102px;
    flex-direction: row;
    gap: 49px;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .about-us-main {
    margin-top: 216px;
    flex-direction: row;
    gap: 109px;
  }
  .about-main-title {
    max-width: 508px;
    font-size: 38px;
    text-align: start;
  }
  .about-main-text {
    font-size: 24px;
    text-align: start;
    max-width: 508px;
  }

  .about-main-description {
    max-width: 508px;
    text-align: start;
  }
  .about-btn {
    margin-top: 23px;
    padding: 12px 40px;
    font-size: 18px;
  }
  .about-text-wrapper {
    width: 628px;
    display: block;
  }
  .about-us-img {
    width: 515px;
    height: 457px;
  }
  .services-title {
    font-size: 38px;
    max-width: 896px;
    margin-top: 215px;
  }
  .services-text {
    font-size: 24px;
  }
  .services-list {
    display: flex;
    flex-direction: row;
    gap: 44px;
    margin: 140px auto;
  }
  .resource-container {
    flex-direction: row;
    padding: 80px 20px;
    margin: 215px auto;
    align-items: center;
    margin-bottom: 152px;
  }
  .resource-wrap {
    align-items: start;
    justify-content: center;
  }
  .resource-title {
    font-size: 34px;
    max-width: 631px;
    text-align: start;
  }

  .resource-text {
    font-size: 18px;
    max-width: 420px;
    text-align: start;
  }
  .resource-list {
    flex-direction: row;
    align-items: start;
  }
  .resource-container {
    padding: 80px 20px;
  }
  #contact {
    flex-direction: row;
  }
  .contact-main {
    /* display: block; */
    max-width: 600px;
  }
  .contact-title {
    font-size: 34px;
    text-align: start;
    width: 599px;
  }
  .contact-text {
    font-size: 24px;
    text-align: start;
    width: 584px;
  }
  .contact-input {
    width: 477px;
  }
  .contact-btn {
    width: 477px;
  }
  #contact {
    gap: 240px;
  }

  .footer {
    display: block;
  }
  .footer-wrap {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-container {
    align-items: flex-start;
  }
  .footer-title {
    text-align: start;
  }
  .footer-list {
    align-items: flex-start;
    li p {
      text-align: start;
      max-width: 300px;
    }
  }
  .footer-item {
    text-align: start;
  }
}
